body {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: grey;
    color: whitesmoke;
    font-size: 3rem;
    height: 100vh;
    margin: 0;
}

.title {
    margin: 20px;
}

.above {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

#grid {
    display: inline-grid;
    grid-template-columns: repeat(9, auto);

    width: 460px; /* The spacing between the columns formed by the squares */
    margin: 20px auto;
}

#grid div {
    /* Center the content (numbers) vertically and horizontally in the square */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Dimensions for each square */
    width: 50px;
    height: 50px;

    font-size: 25px;
    
    border: 1px solid #000000;
    box-shadow: 0 0 0 1px #000000;
    cursor: pointer;
    background-color: white;
}

#grid div.clicked {
    background-color: darkgrey;
}

#grid div.wrongFlag {
    background-color: darkred;
}

#resetButton {
    background-color: blue;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#resetButton:hover {
    background-color: darkblue;
}

/* For testing */
/* .bombs {
    background-color: red;
} */
